
open.zip
*.csv
*.tar

# wandb
wandb/*

# Local works
local/*

# Dataset
data/*

# python & jupyter
*/__pycache__/*
.python-version
.ipynb_checkpoints
*.pyc

# macOS + Windows
.DS_Store
._*
Thumbs.db

# pipenv
Pipfile
Pipfile.lock

# Local History for Visual Studio Code
.history/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
                                                                                                                                            11,1           5%